/* ---- START:General typography ---- */
.typography a {
    color: #57bfe1;
    font-weight: 500;
}

.typography a:hover {
    color: #fff;/*#5c6873;*/
    background-color: #57bfe1;
    cursor: pointer;
}

.typography p {
    color: #5c6873;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.typography img {
    max-width: 100%;
    height: auto;
    margin: 20px;
}

/* Color Next Generation Convention */
.typography .first-letter {
    color: #903;
    font-size: 40px;
    line-height: 40px;
}

/* GoogleCalendarPage */
.typography li.Jongliertreffen {color: #0D7813;}
.typography li.Jongliertreffen-faellt-leider-aus {color: #A32929;}
.typography li.Jonglier-Events-und-Veranstaltungen {color: #E0C240;}
.typography li.Workshops {color: #060D5E;}
.typography li.Jongliertreffen,.typography li.Jongliertreffen-faellt-leider-aus,.typography li.Jonglier-Events-und-Veranstaltungen,
.typography li.Workshops {font-weight: 500 !important;}

/* LocationPage.php, location.css - Jongliertreffen */
.typography .rot {
    color:red;
    font-weight: 500 !important;
}
.typography .fett {
    font-weight: 800 !important;
}
/* ---- END:General typography ---- */

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

/* Add styling for selected links (missing a href) for home icon */
.c-active span.c-link.dropdown-toggle {
    line-height: 20px;
    position: relative;
    display: block;
}
/* Navigation */
nav.c-top-menu.c-pull-right .c-links.c-theme-ul {
    position: relative;
    top: 8px;
}

label.error {color :red;}
.c-linkfooter li {display: inline;}
@media (min-width: 992px) {
    .c-layout-header .c-brand {margin: 16px 0 18px 0;}
    .c-page-on-scroll.c-layout-header-fixed .c-layout-header .c-brand {
        transition: margin 0.2s;
        margin: 4px 0 1px 0;
    }
}

/* Implement the existend classes for SS TinyMCE */
img.left {float: left;}
img.right {float: right;}
img.center {display : block;margin: 0 auto 0 auto;text-align: center;}
img.leftAlone {float: left;margin-right: 100%;}
img.rightAlone {float: right;margin-left: 100%;}

/* Google Maps */
.map-container {width: 100%;}
.map-container iframe {
    display: block;
    width: 100%;
    position: relative; /* IE needs a position other than static */
    pointer-events: none;
}
.map-container iframe.clicked{pointer-events: auto;}

/* Jongliertreffen */
.c-content-feature-9 > .c-list.schedule > li > .c-card {
    padding: 0px;
    margin-right: 2px;
    position: relative;
}
.c-content-feature-9 > .c-list.schedule > li > .c-card > .c-content-left {
    padding-left: 60px;
}
.c-content-feature-9 > .c-list.schedule > li > .c-card > i {
    padding: 0 14px 14px;
}

/* Alarm */
.alarm p {
    color:red;
    font-weight: 500 !important;
}
.alarm p:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f0a9";
}

/* Kontakt */
div.facebook a,div.facebook a:hover {
    color: #fff;
}
div.facebook a.c-btn-uppercase.btn-md {
    padding: 10px 20px 9px 50px;
}
.facebook a.btn + .btn {
    margin-left: 0px;
}

/* Sidebar 2nd level  */
.active {
    color: #57bfe1;
    font-weight: 500;
}

/* Homepage */
.newsdate {
    display: inline;
    /*margin-left: 50px;*/
    float: right;
}
.c-linkfooter ul.c-links.c-theme-ul {
    margin: 0px;
}
