.typography a {
    color: #57bfe1;
    font-weight: 500;
}

.typography a:hover {
    color: #fff;/*#5c6873;*/
    background-color: #57bfe1;
    cursor: pointer;
}

.typography p {
    color: #5c6873;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 17px;
}

/* Color Next Generation Convention */
.typography .first-letter {
    color: #903;
    font-size: 40px;
    line-height: 40px;
}

/* GoogleCalendarPage */
.typography li.Jongliertreffen {color: #0D7813;}
.typography li.Jongliertreffen-faellt-leider-aus {color: #A32929;}
.typography li.Jonglier-Events-und-Veranstaltungen {color: #E0C240;}
.typography li.Workshops {color: #060D5E;}
.typography li.Jongliertreffen,.typography li.Jongliertreffen-faellt-leider-aus,.typography li.Jonglier-Events-und-Veranstaltungen,
.typography li.Workshops {font-weight: 500 !important;}

.typography .rot {
    color:red;
    font-weight: 500 !important;
}

.typography img {
    max-width: 100%;
    height: auto;
}
